html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style: none; margin:0; padding:0}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a{ text-decoration:none;}
::-moz-selection{
    background: rgba(255,255,0,.33);
}
::selection {
    background: rgba(255,255,0,.33);
}
//COLORS
$grey_bg:#f1f1f1;
$grey_stroke:#e9e9e9;
$primary_color:#17181d;
$secondary_color:#efda5b;
$color_grey-light:#f7f7f7;
$color_grey:#dddddd;
$color_ogilvy:#eb3e43;
$color_lkn:#0077b5;
$color_dribbble:#ea4c89;
$color_git:#333333;

//SPACING
$baseline1:6px;
$baseline2:12px;
$baseline3:18px;
$baseline4:24px;
$baseline5:30px;
$baseline6:36px;
$baseline7:42px;
$baseline8:48px;
$baseline9:54px;
$baseline10:60px;
$baseline15:90px;
$baseline20:120px;
$baseline26:156px;

//TYPOGRAPHY
@font-face {
    font-family: 'cervo-regularregular';
    src: url('regular-webfont.woff2') format('woff2'),
         url('regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'corisandeboldregular';
    src: url('corisandebold-webfont.woff2') format('woff2'),
         url('corisandebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'corisandelightregular';
    src: url('corisandelight-webfont.woff2') format('woff2'),
         url('corisandelight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cervo-medium';
    src: url('medium-webfont.woff2') format('woff2'),
         url('medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
$cervo: 'cervo-regularregular';
$cervo-medium: 'cervo-medium';
$corisande: 'corisandelightregular';
$corisande-bold: 'corisandeboldregular';
body{ margin:0; padding:0; color: $primary_color;font-family: 'corisandelightregular';}
html {
    scroll-behavior: smooth;
  }
//TYPOGRAPHY
h1,h2,h3,h5,h6{
    padding: 0;
    margin: 0;
}
h3{
    font-family: 'cervo-medium';
    text-transform: uppercase;
    line-height: 1;
}
h4,h5{
    font-family: 'corisandelightregular';
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 18px;
    span{
        font-family: 'corisandeboldregular';
        display: block;
        font-size: 14px;
        line-height: 21px;
    }
}
.aviko_logo{
    display: block;
    img{
        display: block;
        width: 100%;
    }
    &-wrapper{
        border-left: 2px solid $primary_color;
        padding-top:$baseline26;
    }
}
.content{
    &_section{
        position: relative;
        overflow: hidden;
        &-wrapper{
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
        }
    }
}
.panel{
    &_home,&_about{
        background-color: #f1f1f1;
        height: 100vh;
        position: relative;
    }
    &_work{
        overflow: hidden;
    }
    &_work,&_about{
        &::after,&::before{
            position: absolute;
            content: "";
            z-index:2;
            height: 100%;
            width: 1px;
            background-color:#e9e9e9;
            top: 0;
        }
        &::after{
            left: 4.4%;
        }
        &::before{
            right: 4.4%;
        }
    }
}
.scroll{
    &_section{
        position: absolute;
        border-left: 2px solid $color_grey;
        left: 4.4%;
        z-index: 10;
        a{
            display: block;
            color: $primary_color;
        }
    }
    &_bar{
        position: relative;
        height: 96px;
        margin-left: -2px;
        overflow-y: hidden;
        width: 100px;
        cursor: pointer;
        &::after{
            content: "";
            width: 2px;
            position: absolute;
            left:0;
            background-color: $primary_color;
            -webkit-animation: scrollbar 2.5s infinite;
            -moz-animation: scrollbar 2.5s infinite;
            animation: scrollbar 2.5s infinite;
        }
        span{
            font-family: 'cervo-regularregular';
            position: absolute;
            transform: translateY(-50%);
            top: 50px;
            left: 24px;
            font-size: 13px;
        }
    }
}
.work{
    &_snippet{
        position: absolute;
        top: $baseline5;
        left:0;
        width: 20%;
        overflow: hidden;
        padding-right: $baseline5;
        box-sizing: border-box;
    }
    &_visual{
        width:100%;
        position: relative;
        transition: all 0.2s ease-in-out;
        overflow: hidden;
        img{
            width:100%;
            display: block;
            position: relative;
            transition: all 0.2s ease-in-out;
        }
        &-wrapper{
            display: block;
            position: relative;
            color: $primary_color;
            float: right;
            width: 80%;
            cursor: pointer;
            &:hover{
                .work_visual{
                    background-size:101%;
                    transform:scale(0.995);
                    img{
                        transform:scale(1.01);
                    }
                }
            }
        }
    }
    &_link{
        position: relative;
        background-color: $secondary_color;
        display: inline-block;
        font-family: $cervo-medium;
        font-size: 12px;
        line-height:1;
        padding:6px 12px;
        color: $primary_color;
        border-right: 4px solid darken($secondary_color, 20%);
        &:hover{
            margin-top: 1px;
        }
    }
}
//BASE
.pod{
    display: block;
    img{
        display:block;
        width: 100%;
    }
}
.snippet_wrapper{
    position: relative;
}
.marker{
    position: absolute;
    height:50%;
    width:100%;
    z-index:1;
    &-stroke{
        height: 100%;
    }
    .snippet_wrapper{
        height: 100%;
    }
}

//MENU
.menu{
    &_item{
        position: absolute;
        z-index: 100;
        cursor: pointer;
        text-transform: uppercase;
        color: $primary_color;
        &-left,&-right{
            transition: all 0.5s;
            font-size: 13px;
            &:hover{
               span{
                   &:after{
                    width: 100%;
                   }
               }
            }
            span{
                font-family: 'cervo-regularregular';
                position: relative;
                display: block;
                overflow: hidden;
                z-index: 2;
                padding-top:4px;
                padding-bottom:2px;
                &:after{
                    transition: width 0.5s ease-in-out;
                    position: absolute;
                    content: "";
                    width:0;
                    height:100%;
                    background-color: $secondary_color;
                    top: 0;
                    z-index:-1;
                }
                &:hover{
                    border-color: $primary_color;
                }
            }
        }
        &-left{
            border-left:1px solid $color_grey;
            span{
                &:after{
                    left:0;
                }
            }
        }
        &-right{
            border-right:1px solid $color_grey;
            span{
                &:after{
                    right:0;
                }
            }
        }
    }
}
//INTRO SECTION
.intro{
    &_section{
        &-content{
            background-color: $grey_bg;
            h6{
                a{
                    font-family: $corisande-bold;
                    color:$color_ogilvy;
                }
            }
            ol{
                clear: both;
                font-family: $corisande-bold;
                padding-top: $baseline5;
                li{
                    display: inline-block;
                    &:first-child{
                        a{
                            color: $color_lkn;
                        }
                    }
                    &:nth-child(2){
                        a{
                            color: $color_dribbble;
                        }
                    }
                    &:last-child{
                        a{
                            color: $color_git;
                        }
                    }
                }
            }
        }
        .marker{
            top: 0;
            &-stroke{
                border-left: 2px solid $primary_color;
            }
        }
    }
}

//WORK SECTION
.work{
    &_section{
        background-color:#fff;
    }
}
//LAST SECTION
.last{
    &_section{
        .marker{
            bottom: 0;
            &-stroke{
                border-right: 2px solid $primary_color;
            }
        }
    }
}
.panel_one,.work_section{
    position: relative;
    &::after,&::before{
        position: absolute;
        content: "";
        z-index:2;
        height: 100%;
        width: 1px;
        background-color:$grey_stroke;
        top: 0;
    }
}
.panel_one{
    height:100vh;
    background-color: $grey_bg;
    &-wrapper{
        position: absolute;
        z-index: 2;
        top:50%;
        width: 100%;
        transform: translateY(-50%);
    }
}

@media screen and (min-width:1248px) {
    .container{
        width: 1200px;
        margin: auto;
    }
    .snippet_wrapper{
        width:1000px;
        margin: auto;
    }
    h3{
        font-size: $baseline10;
    }
}
@media screen and (max-width:1247px) and (min-width:1024px) {
    .container{
        width: auto;
        margin: 0 6%;
    }
    .snippet_wrapper{
        width:auto;
        margin-left:$baseline26;
        margin-right:$baseline26;
    }
    h3{
        font-size: $baseline9;
    }
}
@media screen and (min-width:1024px) {
    h3{
        margin-bottom:$baseline4;
    }
    .intro{
        &_section{
            &-content{
                h2{
                    float: right;
                    width: 80%;
                }
                h6{
                    float: left;
                    width: 80%;
                }
                ol{
                    li{
                        font-size: $baseline4;
                    }
                }
            }
        }
    }
    .pod{
        padding-top: $baseline2;
        width: 220px;
    }
    h2{
        font-size:$baseline8;
        line-height:$baseline10;
    }
    //WORK SECTION
    .work{
        &_section{
            padding-top:$baseline20;
            &-wrapper{
                padding-bottom:$baseline20;
            }
        }
    }
}
@media screen and (max-width:1024px) {
    .container{
        width: auto;
        margin: 0 6%;
    }
}
@media screen and (max-width:1024px) and (min-width:768px) {
    h2{
        font-size:$baseline6;
        line-height:$baseline8;
    }
    h3{
        font-size: $baseline8;
    }
    .snippet_wrapper{
        margin-left:$baseline20;
        margin-right:$baseline20;
    }
    .pod{
        padding-top: $baseline2;
        width: 180px;
    }
    .work{
        &_section{
            padding-top:$baseline15;
            &-wrapper{
                padding-bottom:$baseline15;
            }
        }
    }
}
//FROM MOBILE
@media screen and (min-width:768px) {
    .mobile_view{
        display:none;
    }
    .scroll{
        &_section{
            bottom: $baseline10;
        }
    }
    h6{
        font-size:$baseline3;
        line-height:$baseline5;
    }
    .panel_one,.work_section{
        &::after{
            left: 4.4%;
        }
        &::before{
            right: 4.4%;
        }
    }
    .menu{
        &_item{
            height: 96px;
            &-left,&-right{
                span{
                    transform: translateY(-50%);
                    top: 50px;
                }
            }
            &-left{
                left: 4.4%;
                span{
                    float: left;
                    left: 24px;
                    padding-left:4px;
                    padding-right: $baseline2;
                }
            }
            &-right{
                right: 4.4%;
                span{
                    text-align: right;
                    right: 24px;
                    padding-right:4px;
                    padding-left: $baseline2;
                }
            }
        }
        &-bottom{
            bottom: $baseline10;
        }
        &-top{
            top: $baseline10;
        }
    }
    .intro{
        &_section{
            &-content{
                h2{
                    float: right;
                    width: 80%;
                }
                padding:$baseline7 0;
                display: flex;
                ol{
                    padding-top: $baseline5;
                    font-size: $baseline3;
                    li{
                        &:nth-child(2){
                            padding: 0 $baseline7;
                        }
                    }
                }
            }
        }
    }
    .work{
        &_section{
            &-panel{
                display: flex;
                li{
                    &:first-child{
                        width: 22%;
                    }
                    &:last-child{
                        width: 78%;
                    }
                }
            }
            &-snippet{
                padding-right: $baseline7;
            }
        }
    }
    
}
//FROM DESKTOP
@media screen and (max-width:768px) {
    h2{
        padding-top:$baseline5;
        font-size:$baseline4;
        line-height:$baseline6;
    }
    h3{
        font-size: $baseline7;
    }
    h6{
        font-size:14px;
        line-height:22px;
    }
    .desktop_view{
        display:none;
    }
    .panel_one,.work_section{
        &::after{
            left: $baseline2;
        }
        &::before{
            right: $baseline2;;
        }
    }
    .scroll{
        &_section{
            bottom: $baseline5;
        }
    }
    .menu{
        &_item{
            height: 70px;
            &-left,&-right{
                span{
                    transform:rotate(90deg);
                    width: 70px;
                    text-align: center;
                }
            }
            &-left{
                left:$baseline2;
                span{
                    left: -18px;
                }
            }
            &-right{
                right: $baseline2;
                span{
                    right: -18px;
                }
            }
            &-bottom{
                bottom: $baseline4;
                span{
                    top: 26px;
                }
            }
            &-top{
                top: $baseline4;
                span{
                    top:26px;
                }
            }
        }
    }
    .intro{
        &_section{
            &-content{
                text-align: center;
                padding:$baseline4 0;
                ol{
                    font-size:$baseline2;
                    margin-bottom: $baseline4;
                    line-height:1;
                    li{
                        &:nth-child(2){
                            padding: 0 $baseline4;
                        }
                    }
                }
            }
        }
    }
    .snippet_wrapper{
        margin-left:$baseline10;
        margin-right:$baseline10;
    }
    .marker-stroke{
        width: 2px;
        margin: auto;
    }
    .pod{
        width: 100px;
        margin: auto;
    }
    .work{
        &_section{
            padding-top:$baseline10;
            padding-bottom:$baseline10;
            &-wrapper{
                padding-bottom:$baseline10;
            }
            &-snippet{
                position: relative;
                h5{
                    display: none;
                }
                .work_link{
                    position: absolute;
                    right: 0;
                    top:$baseline1;
                }
            }
        }
    }
}
//ANIMATE
@keyframes scrollbar{
    0% {
        top: 0;
        height:0;
    }
    10% {
        top:10%;
        height:36px;
    }
    40% {
        height:48px;
    }
    90% {
        top:90%;
        height:36px;
    }
    100% {
        top:100%;
        height:0;
    }
}
